# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock
lib-cov

# Dependency directories
lib
*.exp

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Coverage directory used by tools like istanbul
coverage

# Output of 'npm pack'
*.tgz

# Yarn
yarn-error.log
.pnp.*
.yarn

# dotenv environment variable file
.env

# VSCode settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.lock
